<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon"  href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
           {{>header}}
           <p>Use this site to get your weather!</p>

           <form>
               <input placeholder="location">
               <button>Search</button>
           </form>

           <p id="locationMsg"></p>
           <p id="forecast"></p>
           <img id="weather_icon" src="/img/weather.png" alt="weather image"> 
    </div>

    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>


</html>